{% extends "base.html" %}
{% block content %}
<h2 class="info"> Enter your Login information </h2>
<p class="note"> Or register a new user !</p>
<br>

<table style="width:90%" border=0>
    <tr>
        <td>
            <div class="center">
                <form class="main" action='.' method='post'>
                    <h3 class="caption">
                        {% if form.errors %} <p class="error">Incorrect username or password</p> {% endif %}
                        <p class="note">User name:</p>
                        <input type="text" name="username" value="" id="username">
                        <br>
                        <p class="note">Password:</p>
                        <input type="password" name="password" value="" id="password">
                        <br>
                        <input type="submit" value="Login" class="signin extra_margin" />
                        <input type="hidden" name="next" value="/" />
                        <br>
                        <a class="note" href="/accounts/reset_pw/">Reset your password</a>
                    </h3>
                </form>
            </div>
        </td>
        <td>
            <div class="center">
                <a href="/new_user/" class="signup_button">Sign Up</a>
            </div>
        </td>
    </tr>
</table>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
            $("#username").attr("value", $.cookie("user"));
            $("form").submit( function() {
                $.cookie("user", $("#username").attr("value"));
                });
            });

</script>

{% endblock %}

