{% extends "base.html" %}
{% block content %}

{% include "new_entries.html" %}

<h2 class="info center">DB Logs ({{total}})</h2>
<h3>Total sent from site: {{sms_sent}} replies to site: {{ replies_sent }} </h3>

<div id="new_entries">
    There are <span id="new_entries">{{total}}</span> new entries
</div>

<table class="user_list" border=0>
    {% for x in logs %}
    <tr>
        <td class="user_list_user"> 
            <span class="note">{{x.id}}</span> 
            <span class="info log_color_{{x.level}}">{{ x }}</span> 
            <span class="note go_right">{{ x.date|timesince }} ago </span>
        </td>
    </tr>
    {% endfor %}
</table>
Page:
{% for i in pages %}
<a href="/logs/?page={{i}}">{{i}}</a>,
{% endfor %}
{% endblock %}

