body {
    background-color:#fffff7;
    background: #C0DEED url('http://a3.twimg.com/a/1258674567/images/bg-clouds.png') repeat-x; 
    background-size: 100%;
    background-position: 0 0;
    padding-top: 0;
}
div.top_header {
    margin-right:auto;
    margin-left:auto;
    margin-bottom:20px;
    width:500px;
    aheight:30px;
}
div.main_block {
    background:#fff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border:4px solid #DDD;
    padding:10px;
    color:#5c5c5c;
    -moz-box-shadow:0 2px 4px #ABABAB;
    -webkit-box-shadow:0 2px 4px #ABABAB;
    width:100%;
    position:relative;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:20px;
}
.caption {
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    color:#2276BB;
    text-decoration:none;
    font-family:'Lucida Grande',sans-serif;
    margin-left:4px;
}
div.nav_menu {
    background:#fff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    padding:10px;
    color:#5c5c5c;
    width:250px;
    position:relative;
    margin-right:1px;
    margin-left:auto;
    margin-top:20px;
    margin-bottom:20px;
}
a.nav_menu {
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    color:#2276BB;
    text-decoration:none;
    font-family:'Lucida Grande',sans-serif;
    margin-left:4px;
}
a.nav_menu:hover {
    text-decoration:underline;
}


table.user_list {
    width: 100%;
}

table.index {
    margin:10px;
    width: 90%;
}
tr.index {
}
td.index {
    padding: 2px;
    border-bottom: 1px dotted gray;
}

.header_size {
    height:100px;
}

.note {
    color:#999999;
    font-family:'Lucida Grande',Arial,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
}
.note_right {
    text-align: center;
    padding: 10px;
    width: 20px;
}
.center {
    text-align: center;
}
.message {
    color:#333333;
    font-family:'Lucida Grande',Arial,sans-serif;
    font-size:normal;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:normal;
}

th {
    text-align:left;
}

table.send_msg {
    width: 100%;
}
td.send_msg_users {
    padding: 1px;

}
td.send_msg_text {
    width: 70%;
}
.user {
    color:#2276BB;
    font-family:'Helvetica';
    font-size:normal;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:normal;
}
.user_us {
    color:rgb(155,40,140);
    font-family:'Helvetica';
    font-size:normal;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:normal;
}
p.info {
    color:#888888;
    font-family:'Helvetica';
    font-size:normal;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
}
td.user_list_user {
}
input#send_code {
    width:160px;
    height:30px;
}
ul.send_msg {
}
li.send_msg {
    list-style-type:none;
    width:150px;
}

a.go_right {
    float:right;
    text-align: right;
}
div#head {
    background-color:#fffff5;
    width:680px;
    padding:20px;
    border:1px solid gray;
    margin:3px;
    filter:alpha(opacity=90);
	opacity: 0.9;
}
ul {
    margin:0px;
    padding-left:10px;
}
li {
    margin:0px;
}
p.error {
    background-color:rgb(255,195,195);
    font-weight:bold;
    color:rgb(20,20,55);
    margin-left:3px;
}
div.solution {
    padding:10px;
    width:70%;
    border-bottom: 1px dotted black;
}
td.indent {
    padding:10px;
}
* {
    margin:0px;
    padding:0px;
}
ul.errorlist {
    color:red;
}
li.error_message {
    color:red;
}
span.start_hidden {
    display:none;
}
img {
    margin:0px;
    padding:0px;
    height:32px;
    width:32px;
}

h1, h2, h3, h4 {
    display: inline;
}

input[type=password], input[type=text] {
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    border:1px solid #AACCEE;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
input[type=submit] {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    background:#3399DD url(http://s.twimg.com/a/1259882278/images/bg-btn-blue.png) repeat-x scroll 0 0;
    border:1px solid #3399DD;
    color:#FFFFFF;
    font-size:15px;
    font-weight:bold;
    margin:0 5px 0 0;
    padding:4px 10px 5px;
    font-family:"Lucida Grande",Arial,Sans-serif;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    line-height:16px;
    height:30px;
}

.extra_margin {
    margin:6px;
}

input[type=submit]:hover, .small_btn:hover {
    border:1px solid rgb(100, 0, 130);
}

input[type=submit]:active {
    background-image:none !important;
    outline-color:-moz-use-text-color !important;
    outline-style:none !important;
    outline-width:medium !important;
    text-shadow:none !important;
}

.small_btn {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    background:#3399DD url(http://s.twimg.com/a/1259882278/images/bg-btn-blue.png) repeat-x scroll 0 0;
    border:1px solid #3399DD;
    color:#FFFFFF;
    font-size:small;
    font-weight:bold;
    margin:0;
    padding:2px 2px 2px 2px;
    font-family:"Lucida Grande",Arial,Sans-serif;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    text-decoration:none;
    text-align:center;
    line-height:16px;
    height:16px;
    width:32px;
    float:right;
}

a.signup_button:hover, a.signup_button:focus {
    background-position:0 -5px;
    color:#111111;
}
a.signup_button {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -x-system-font:none;
    background:#99CC22 url(http://s.twimg.com/a/1259882278/images/bg-btn-signup.png) repeat-x scroll 0 0;
    border:1px solid #DDFF66;
    color:#333333;
    display:block;
    font-family:Helvetica,Arial,Sans-serif;
    font-size:18px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:normal;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    padding:8px 10px;
    text-align:center;
    text-decoration:none;
    text-shadow:0 1px 0 #DDFF66;
    margin-bottom:25px;
}

div#new_entries {
    display:none;
    height:30px;
    background: #F4FA58;
    border:1px dotted #BBBBBB;
    text-align:center;
    font-weight:bold;
    cursor:pointer;
    padding:2px;
    margin:5px;
}
div#new_entries:hover {
    background: #F5F6CE;
}
textarea {
    font-size:large;
    acolor:#227677;
    afont-weight:bold;
}
