{% extends "base.html" %}

{% block content %}
<h2 class="info center">Add / Remove friends</h2>
<p class="note">Adding a user sends him a Friend Request which he will need to accept before you can SMS him !</p>
<table class="user_list" border=0>
    <tr>
        <th class="note">
            Username
        </th>
        <th>
        </th>
        <th class="note note_right" colspan=1>
            Action
        </th>
    </tr>

    {% for x in data %}
    <tr>
        <td class="user_list_user"> <p><a class="user" href="/account/{{x.id}}/">{{ x.nick }}</a></p> </td>
        <td class="user_list_status">
            <p class="info">
            {% ifequal x.relation REL.FRIENDS %}
            Friend
            {% endifequal %}

            {% ifequal x.relation REL.A2B %}
            Waiting for user to accept
            {% endifequal %}

            {% ifequal x.relation REL.B2A %}
            Pending friend request
            {% endifequal %}
            </p>
        </td>
        <td class="user_list_action">
            <form action="/friend_request/{{x.id}}/" method="post" style="display:inline">
                {% ifequal x.relation REL.SAME %}
                <p class="info" style="text-align:center">
                Its you !
                </p>
                {% endifequal %}

                {% ifequal x.relation REL.FRIENDS %}
                <input type="submit" value="Remove" name="Action"/>
                {% endifequal %}

                {% ifequal x.relation REL.NONE %}
                <input type="submit" value="Add" name="Action"/>
                {% endifequal %}

                {% ifequal x.relation REL.A2B %}
                <input type="submit" value="Cancel" name="Action"/>
                {% endifequal %}

                {% ifequal x.relation REL.B2A %}
                <input type="submit" value="Accept" style="color:yellow" name="Action"/>
                {% endifequal %}
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

