{% extends "base.html" %}
{% block content %}

<h2 class="info">Verify your phone number</h2>
<p class="notice">In a few seconds you should receive a code to your phone.</p>
<br>
<div class="center">
    <form action="" method="post">
        <h3 class="caption">Verification code for:</h3><br>
        <h3 class="message"> {{ phone }}</h3><br>

        {{ form }}
        <input type="submit" value="Verify">
        <br>
        <a class="note" href="/set_phone/{{user.id}}/">Resend code or change phone number</a>
    </form>
</div>
{% endblock %}

