{% extends "base.html" %}
{% block content %}

<h2 class="info">We need to verify your phone number</h2>
<p class="notice">A special code has been sent to your phone</p>
<p class="notice">The code should arrive within a few seconds</p>
<br>
<div class="center">
    <form action="" method="post">
        <h3 class="caption">Verification code for:</h3>
        <h3 class="message"> {{ phone }}</h3><br>

        {{ form }}
        <input type="submit" value="Verify">
        <br>
        <a class="info" href="/set_phone/">Resend code or change phone number</a>
    </form>
</div>
{% endblock %}

